<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="icon" th:href="@{/AI_Power.png} ">
    <title>AI Power</title>
</head>
<header>
  <nav class="navbar fixed-top bg-white" style="border-bottom: 1px solid #cecece !important;">
    <div class=" d-flex flex-row bg-white">
        <div class="container d-flex flex-row justify-content-start " style="margin-left: 20px;">
        <a class="navbar-brand" th:href="@{/dashboard-admin}"> <img th:src="@{dashboard_AIP.png}" alt="Logo" width="100">
        </a>
        </div>
    </div>
    
    <div class="dropdown justify-content-end nav-item" style="margin-right: 40px;">
      <button class="btn btn-sm" type="button" id="settingsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="material-symbols-outlined" style="margin-top: 10px;"> settings </span>
      </button>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm" aria-labelledby="settingsDropdown">
        <a class="dropdown-item" th:text="${session.username == null} ? 'dev' : ${session.username}"></a>
        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">LogOut</a>
      </div>
  </div>
           
</nav>
</header>

<body style="background-color: rgb(179, 179, 179);" onload="calculatePrediction()">
  <div class="view">    
    <div class="card mb-3 d-flex col-9 offset-2" style="margin-top: 6%">
        <div class="row g-0">
          <div class="col-md-6">
            <img th:src="@{Retain.png}" class="img-fluid mt-5 rounded-start">
          </div>
          <div class="col-md-6">
            <div class="card-body">
                <form method="post" th:action="@{/new-predict?rid=} + ${requests.rid}" modelAttribute="requests">
                    <h3>Retain Prediction</h3>

                    <div class="col mb-3">
                      <div class="col-8">
                          <input type="hidden"
                           id="requestid"
                           class="form-control"
                           name="reqID"
                           th:value = "${requests.rid}"
                           required>
                      </div>
                      </div> 

                      <div class="col mb-3">
                        <div class="col-8">
                            <input type="hidden"
                             id="projectitemid"
                             class="form-control"
                             name="piid"
                             th:value = "${requests.piid}"
                             required>
                        </div>
                        </div> 
                      <br>

                      
                      <div class="col-8 mb-3 col-sm-8">
                          <label for="inputProject" name="proID" class="form-label"
                          >Project Name</label>
                          <select
                          id="project"
                          name="proname"
                          class="form-select"
                          required
                        >
                          <option value="" disabled selected>Select Option</option>
                          <option value="Appartment-2Room" th:selected="${requests.proname == 'Appartment-2Room'}" >Appartment House 2 Room</option>
                          <option value="Appartment-3Room" th:selected="${requests.proname == 'Appartment-3Room'}" >Appartment House 3 Room</option>
                          <option value="Teres-3Room" th:selected="${requests.proname == 'Teres-3Room'}" >Teres House 3 Room</option>
                          <option value="Teres-4Room" th:selected="${requests.proname == 'Teres-4Room'}" >Teres House 4 Room</option>
                          <option value="Banglo-4Room" th:selected="${requests.proname == 'Banglo-4Room'}" >Banglo House 4 Room</option>
                          <option value="Banglo-5Room" th:selected="${requests.proname == 'Banglo-5Room'}" >Banglo House 5 Room</option>
                        </select>
                        </div>
    
                        <div class="col-8 mb-3 col-sm-8">
                          <label for="name" class="form-label">Request Quantity</label>
                          <div class="form-label">
                            <input type="text"
                             id="requestQuantity" onkeyup="calculatePrediction()"
                             class="form-control"
                             name="reqQuan"
                             th:value = "${requests.reqQuantity}"
                             placeholder="Request quantity"
                              required>
                        </div>
                        </div>                   
          
                  
                                
                    <!-- testt -->
                  
                    <div class="col-8 mb-3 col-sm-8">
                      <label for="inputProject" name="itemID" class="form-label"
                          >Item </label
                        >
                        <select
                          id="project"
                          name="iname"
                          class="form-select"
                          required
                        >
                          <option value="" disabled selected>Select Option</option>
                          <option value="Wire 1.5mm" th:selected="${requests.iname == 'Wire 1.5mm'}" >Wire 1.5mm</option>
                          <option value="Lamp" th:selected="${requests.iname == 'Lamp'}">Lamp</option>
                          <option value="Switch" th:selected="${requests.iname == 'Switch'}">Switch</option>
                          <option value="Socket Outlet" th:selected="${requests.iname == 'Socket Outlet'}">Socket Outlet</option>
                          <option value="Distribution Board (DB)" th:selected="${requests.iname == 'Distribution Board (DB)'}">Distribution Board (DB)</option>
                        </select>
                    </div>

                    <div class="col-8 mb-3 col-sm-8">
                      <label for="name" class="form-label">Item Quantity</label>
                      <input type="text"
                           id="itemQuantity" onkeyup="calculatePrediction()"
                           class="form-control"
                           name="iquantity"
                           th:value = "${requests.iquantity}"
                           placeholder="Item quantity"
                           required>
                    </div>
                    
                    <div class="col-8 mb-3 col-sm-8">
                      <label for="inputZip" class="form-label">Predicted Quantity</label>
                      <input type="text"
                             id="predictedQuantity" 
                             class="prediction form-control"
                             name="predictedQuan"
                             placeholder="0"
                             required readonly>                    
                    </div>
                    <div class="col-8 mb-3 col-sm-8">
                      <label for="inputProject" name="years" class="form-label"
                          >Year </label
                        >
                        <select
                          id="project"
                          name="years"
                          class="form-select"
                          required
                        >
                          <option value="" disabled selected>Select Option</option>
                          <option value="2025">2025</option>
                          <option value="2026">2026</option>
                          <option value="2027">2027</option>
                        </select>
                    </div>
                                      
                    <!-- test end -->
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
  </div>

  <!-- Logout Confirmation Modal -->
  <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to log out?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a class="btn btn-danger" th:href="@{/logout}">LogOut</a>
        </div>
      </div>
    </div>
  </div> 
  <footer class="d-flex justify-content-center">
    <p>&copy; <span id="currentYear"></span> AI Power Inventory Management System. All rights reserved.</p>
  </footer>
      <script>
        document.getElementById("currentYear").textContent = new Date().getFullYear();
      </script>
          <script>
            function calculatePrediction() {
                var requestQuantity = document.getElementById("requestQuantity").value;
                var itemQuantity = document.getElementById("itemQuantity").value;
                var predictedQuantity = document.getElementById("predictedQuantity");

                if (requestQuantity && itemQuantity) {
                    predictedQuantity.value = requestQuantity * itemQuantity * 2;
                } else {
                    predictedQuantity.value = 0;
                }
            }
          </script>

            <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
                crossorigin="anonymous"></script>
            <script
                src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
                integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
                crossorigin="anonymous"></script>
            <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
                integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
